body{
    box-sizing: border-box;
    background:url("background.jpg");
    background-size: cover;
}

h1,section,p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Orbitron';
}

h1{
    font-size:50px
}

input{
    font-size:11px;
    font-family: 'Orbitron';
    font-weight:bold ;
    color:black;
    background:white;
    height:40px;
    margin-right: 5px;
}

.result{
    border: 2px solid black;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Orbitron';
    font-size: 20px;
    width:20%;
    height:40px;
    background: white;
    color: black;
}

@media screen and (max-width: 1064px) {
    body{
        background-size:contain;
        background-color: #F3C703;
        margin-left:80px
    }
    h1 {
      font-size: 40px;
    }
    input{
        font-size:9px;
        height:30px;
    }
    .result{
        font-size: 20px;
        width:15%;
        height:30px;
    }
}


@media screen and (max-width: 768px) {
    body{
        background-size:contain;
    }
    h1 {
      font-size: 30px;
    }
    input{
        font-size:4px;
        height:20px;
    }
    .result{
        font-size: 10px;
        width:15%;
        height:20px;
    }
}

@media screen and (max-width: 300px) {
    body{
        background-size:center;
        margin-left: -1px;
    }

    h1 {
      font-size: 25px;
    }
    input{
        font-size:7px;
        height:20px;
    }
    .result{
        font-size: 10px;
        width:20%;
        height:20px;
    }
}


